.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}
  
body {
    background-color: #263238;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    box-sizing: border-box;
    height: 100%;
}

#canvas {
    height: 70%;
    width: 100%;
    /* max-width: 40rem; */
    margin-bottom: 3rem;
}

#sort_type {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 3rem;
}

#run_cnt {
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
}

#run_time {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.btn_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}

.btn {
    padding: 1rem;
    background-color: #fff;

    border: none;
    border-radius: 1rem;

    flex-grow: 1;
    width: 9rem;
}

/*
@media screen and (max-width: 576px) {
    .container {
        margin: 0;
    }
}

@media (min-width: 768px) {
    .container {
        margin: 0 10rem;
    }
}

@media (min-width: 992px) {
    .container {
        margin: 0 20rem;
    }
}*/